<h1>Hello, {{ user.full_name }}</h1>

<p>
    Someone requested password reset for your account on the <a href="{{ base_url() }}">{{ t('app_name') }}</a>. If it
    was you, please <a href="{{ reset_url }}">follow this link</a> to reset your password.
</p>

<p>
    In any other case simply ignore this message.
</p>

<p>
    --<br>
    Best wishes, {{ t('app_name') }}
</p>
