<h1>Привіт, {{ user.full_name }}</h1>

<p>
    Хтось зробив запит відновлення пароля вашого облікового запису на
    <a href="{{ base_url() }}">{{ t('app_name') }}</a>. Якщо це були ви, будь ласка,
    <a href="{{ reset_url }}">перейдіть за цим посиланням</a> для того, щоб відновити ваш пароль.
</p>

<p>
    В будь-якому іншому випадку просто проігноруйте це повідомлення.
</p>

<p>
    --<br>
    З найкращими побажаннями, {{ t('app_name') }}
</p>
